"*":
  "atom-beautify":
    _analyticsUserId: "6350286c-9ad2-488e-822e-b1f01faa32f9"
  "autocomplete-plus": {}
  "city-lights-ui": {}
  core:
    disabledPackages: [
      "jslint"
      "language-gfm"
      "linter-scss-lint"
      "linter"
    ]
    followSymlinks: false
    ignoredNames: [
      ".git"
      "node_modules/"
      "tmp/"
      "bower_components/"
      "vendor/"
      ".DS_Store"
    ]
    telemetryConsent: "limited"
    themes: [
      "city-lights-ui"
      "operator-mono"
    ]
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "4a7fea86-7e12-5841-d49d-61bde7b4e23b"
  "file-icons":
    coloured: false
    onChanges: true
  jslint:
    validateOnChange: true
  linter: {}
  "linter-ui-default":
    panelHeight: 69
  "markdown-preview":
    useGitHubStyle: true
  minimap: {}
  "one-light-ui": {}
  "svg-preview":
    liveUpdate: false
    openPreviewAutomatically: true
  tabs:
    usePreviewTabs: true
  teletype:
    askBeforeJoiningPortalViaExternalApp: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace: {}
"linter-scss-lint":
  disableWhenNoConfigFileInPath: false
